#addPost{
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}
#title{
    padding: 10px;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid rgb(141, 141, 141);
    border-radius: 0;
}
#desc{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid rgb(141, 141, 141);
    border-radius: 0;
}
#addPost button{
    border-radius: 30px;
    padding: 10px 25px;
    letter-spacing: 0.3px;
    float: right;
}
#addPost label{
    background-color: royalblue;
    border-radius: 15px;
    padding: 10px 20px;
    color: aliceblue;
    cursor: pointer;
}
#addPost label i{
    margin-right: 5px;
}
#addPost select{
    padding: 10px 15px;
    color: rgb(81, 81, 81);
}