#navbar{
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    padding: 5px 5vw;
}
#navbar img{
    height: 60px;
    mix-blend-mode: multiply;
}
#navbar a{
    color: rgb(37, 56, 66);
    text-decoration: none;
}
#navbar button{
    padding: 7px 20px;
    border-radius: 10px;
    border: none;
    background: rgb(37, 56, 66);
}


/* #####################   POST  ######################### */

#post{
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(100, 93, 93, 0.02) 0px 1px 2px 0px, rgba(78, 82, 85, 0.15) 0px 0px 0px 1px;
    background-color: rgb(246, 246, 246);
    margin-top: 40px; 
    overflow: hidden;
    cursor: pointer;
}
#post img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(100, 93, 93, 0.02) 0px 1px 2px 0px, rgba(78, 82, 85, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
}
#post:hover img{
    transform: scale(1.03, 1.03);
}
#post h3{
    font-size: 23px;
    font-family: 'montserrat';
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
#post:hover h3{
    color: rgb(44, 85, 147);
}
#post #desc{
    letter-spacing: 0.3px;
    color: rgb(64, 64, 64);
    font-size: 15px;
}
#post h6{
    font-weight: 600;
    color: rgb(77, 86, 102);
    background-color: rgb(210, 226, 241);
    padding: 5px 10px;
    border-radius: 30px;
}
#post #author{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#post h5{
    color: rgb(81, 81, 81);
    font-size: 16px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
